extends layout

block append vars
  - var pageId = 'profile'
  - var title = 'プロフィール'

block prepend js
  script(src="http://code.createjs.com/easeljs-0.7.0.min.js")
  script(src="http://code.createjs.com/tweenjs-0.5.0.min.js")
  script(src="http://code.createjs.com/movieclip-0.7.0.min.js")
  script(src="http://code.createjs.com/preloadjs-0.4.0.min.js")
  script(src="/js/kanpai.js")
  script.
    var canvas, stage, exportRoot;

    function init() {
      canvas = document.getElementById("canvas");
      images = images||{};

      var loader = new createjs.LoadQueue(false);
      loader.addEventListener("fileload", handleFileLoad);
      loader.addEventListener("complete", handleComplete);
      loader.loadManifest(lib.properties.manifest);
    }

    function handleFileLoad(evt) {
      if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
    }

    function handleComplete() {
      exportRoot = new lib.kanpai();

      stage = new createjs.Stage(canvas);
      stage.addChild(exportRoot);
      stage.update();

      createjs.Ticker.setFPS(lib.properties.fps);
      createjs.Ticker.addEventListener("tick", stage);
    }

block main
  .mdl-grid
    .mdl-cell.mdl-cell--6-col
      if locals.profile
        h1.title プロフィール

        .profile-block.mdl-card.mdl-shadow--2dp
          .mdl-card__title.mdl-card--expand
            h2.mdl-card__title-text
              | プロフィール
          .mdl-card__supporting-text
            dl
              if locals.profile
                dt 名前
                dd= profile['screen-name']

                dt 自己紹介
                dd= profile['message']

            if profile['facebook-url'] || profile['twitter-id']
              if profile['facebook-url']
                .item.facebook
                  a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="#{profile['facebook-url']}", target="_blank")
                    | Facebook
              if profile['twitter-id']
                .item.facebook
                  a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="https://twitter.com/#{profile['twitter-id']}", target="_blank")
                    | Twitter

      else
        p ユーザーが登録されていません

  .animation
    canvas(id="canvas", width="375", height="375")
