extends layout

block append vars
  - var pageId = 'profile'
  - var title = 'プロフィール'

block main
  main
    h1 プロフィール

    if locals.profile
      dl
        dt 名前
        dd= profile['screen-name']

        dt 自己紹介
        dd= profile['message']

      ul.sns
        if profile['facebook-url']
          li.item.facebook
            a(href="#{profile['facebook-url']}")
              | Facebook
        if profile['twitter-id']
          li.item.facebook
            a(href="https://twitter.com/#{profile['twitter-id']}")
              | Twitter

    else
      p ユーザーが登録されていません
