extends layout

block append vars
  - title = 'test'

block main
  main(class='page-test')
    h1 テスト

    dl
      dt 名前
      dd= profile.name

      dt URL
      dd
        a(href="#{profile.url}")= profile.url
