* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

main {
  display: block; }

body.page-register [name="form-profile"] .note {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999; }

body.page-register [name="form-profile"] .message {
  font-size: 12px;
  font-size: 1.2rem;
  color: #f00; }
