* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

main {
  display: block; }

body .title {
  font-size: 24px; }

body .profile-block.mdl-card {
  background: #eef; }
  body .profile-block.mdl-card .mdl-card__supporting-text dt {
    margin-top: 20px; }
    body .profile-block.mdl-card .mdl-card__supporting-text dt:first-child {
      margin-top: 0; }
  body .profile-block.mdl-card .mdl-card__supporting-text dd {
    margin-top: 10px; }

body.page-profile .title {
  display: none; }

body.page-register .title {
  display: none; }
