* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

1
main {
  display: block; }

body .title {
  font-size: 24px; }

body .profile-block.mdl-card {
  background: #eef; }
  body .profile-block.mdl-card .mdl-card__supporting-text dt {
    margin-top: 20px; }
    body .profile-block.mdl-card .mdl-card__supporting-text dt:first-child {
      margin-top: 0; }
  body .profile-block.mdl-card .mdl-card__supporting-text dd {
    margin-top: 10px; }

body.page-top .title {
  text-indent: -9999px;
  width: 100%;
  height: 100px;
  background-image: url(/img/fushiginosakaba.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

body.page-profile .title {
  display: none; }

body.page-profile .list-sns {
  margin-top: 20px; }
  body.page-profile .list-sns .item .mdl-button {
    width: 50px;
    color: #fff;
    background-color: #006; }
  body.page-profile .list-sns .item + .item {
    margin-left: 10px; }

body.page-profile .aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10; }
  body.page-profile .aside .animation {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 375px;
    height: 375px;
    margin-left: -187.5px;
    margin-top: -187.5px; }
    body.page-profile .aside .animation canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }

body.page-register .title {
  display: none; }

body.page-register .dialog {
  display: none; }
  body.page-register .dialog.show {
    display: block; }
