* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

main {
  display: block;
}

body.page-register {
    [name="form-profile"] {
      .item
        .title {
        }
        .input {
        }
        .note {
          font-size: 1.2rem;
          color: #999;
        }
        .message {
          font-size: 1.2rem;
          color: #f00;
        }
    }
}