* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}
1
main {
  display: block;
}

body {
  .title {
    font-size: 24px;
  }

  .profile-block {
    &.mdl-card {
      background: #eef;

      .mdl-card__supporting-text {
        dt {
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
        }
        dd {
          margin-top: 10px;
        }
      }
    }
  }

  &.page-top {
    .title {
      text-indent: -9999px;
      width: 100%;
      height: 100px;
      background-image: url(/img/fushiginosakaba.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &.page-about {
  }

  &.page-profile {
    .title {
      display: none;
    }

    .aside {
      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      background-color: #fff;

      z-index: 10;

      .animation {
        $w: 375px;
        $h: 375px;

        position: absolute;

        left: 50%;
        top: 50%;

        width: $w;
        height: $h;

        margin-left: - $w / 2;
        margin-top: - $h / 2;

        canvas {
          position: absolute;

          width: 100%;
          height: 100%;

          left: 0;
          top: 0;
        }
      }
    }
  }

  &.page-register {
    .title {
      display: none;
    }

    .dialog {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
