* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

main {
  display: block;
}

body {
  .title {
    font-size: 24px;
  }

  .profile-block {
    &.mdl-card {
      background: #eef;

      .mdl-card__supporting-text {
        dt {
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
        }
        dd {
          margin-top: 10px;
        }
      }
    }
  }

  &.page-top {
    // .title {
    //   background-image: url(/);
    // }
  }

  &.page-profile {
    .title {
      display: none;
    }
  }

  &.page-register {
    .title {
      display: none;
    }
  }
}
